## Checking the database data insertions using the Python and SQLalchemy
- in this file we are going the write a script to check the database for any data missing using python

In [1]:
from sqlalchemy import create_engine
import sqlalchemy
import pandas as pd
from urllib.parse import quote

In [2]:
##Connecting dataBase using the python and sqlalchemy and python
engine = create_engine('postgresql://postgres:%s@localhost:5432/postgres' % quote('postgres'))

In [3]:
## reading Sql data using the pandas and storing into a varibale
df = pd.read_sql_table("Table_Name", engine)

In [4]:
## checking the Dataframe Cratedtime column data type
type(df["CreatedTime"][1])

pandas._libs.tslibs.timestamps.Timestamp

In [5]:
df

,index,CreatedTime,SystemTime,SiteId,DBTime,DeviceId,Hot_air_F_H_oil_fr__PV,Hot_air_F__OFR__PV,OFR_Air_v_line__PV,s_up_B_oil_fr__PV,...,s_up_B_OF_C__SP,Hot_airGEN_air_T__PV,Hot_air_F_for_s_up_ATC__PV,Hot_air_F_for_s_up_ATC,Hot_air_F_for_s_up_ATC__SP,Hot_GEN_HH_CFM_TM__PV,s_up_B_OF_C__PV,Hot_airGEN_oil_fr_PV,OFR_integration__PV,s_up_B_OFR__PV
0,0,2022-05-16 05:59:59.443000+00:00,2022-05-16 06:00:14+00:00,1,2022-05-16 06:00:14.400442+00:00,1,0,0,0,0,...,0,33.547409,33.547409,0,0,10,0,43713.847656,85032.382812,35955.125
1,1,2022-05-16 05:59:58.430000+00:00,2022-05-16 06:00:13+00:00,1,2022-05-16 06:00:13.390167+00:00,1,0,0,0,0,...,0,33.547409,33.547409,0,0,10,0,43713.847656,85032.382812,35955.125
2,2,2022-05-16 05:59:57.430000+00:00,2022-05-16 06:00:12+00:00,1,2022-05-16 06:00:12.369183+00:00,1,0,0,0,0,...,0,33.547409,33.547409,0,0,10,0,43713.847656,85032.382812,35955.125
3,3,2022-05-16 05:59:56.430000+00:00,2022-05-16 06:00:11+00:00,1,2022-05-16 06:00:11.352995+00:00,1,0,0,0,0,...,0,33.547409,33.547409,0,0,10,0,43713.847656,85032.382812,35955.125
4,4,2022-05-16 05:59:55.413000+00:00,2022-05-16 06:00:10+00:00,1,2022-05-16 06:00:10.357074+00:00,1,0,0,0,0,...,0,33.547409,33.547409,0,0,10,0,43713.847656,85032.382812,35955.125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517834,517834,2022-05-10 06:00:04.397000+00:00,2022-05-10 06:00:17+00:00,1,2022-05-10 06:00:17.428142+00:00,1,0,0,0,0,...,0,33.350964,33.350964,0,0,10,0,43713.847656,85032.382812,35955.125
517835,517835,2022-05-10 06:00:03.380000+00:00,2022-05-10 06:00:16+00:00,1,2022-05-10 06:00:16.422980+00:00,1,0,0,0,0,...,0,33.350964,33.350964,0,0,10,0,43713.847656,85032.382812,35955.125
517836,517836,2022-05-10 06:00:02.380000+00:00,2022-05-10 06:00:15+00:00,1,2022-05-10 06:00:15.431428+00:00,1,0,0,0,0,...,0,33.350964,33.350964,0,0,10,0,43713.847656,85032.382812,35955.125
517837,517837,2022-05-10 06:00:01.367000+00:00,2022-05-10 06:00:14+00:00,1,2022-05-10 06:00:14.398740+00:00,1,0,0,0,0,...,0,33.350964,33.350964,0,0,10,0,43713.847656,85032.382812,35955.125
517838,517838,2022-05-10 06:00:00.367000+00:00,2022-05-10 06:00:13+00:00,1,2022-05-10 06:00:13.393062+00:00,1,0,0,0,0,...,0,33.350964,33.350964,0,0,10,0,43713.847656,85032.382812,35955.125

In [6]:
## Sorting the column to simplify the process
df = df.sort_values('CreatedTime', ascending=False)

In [7]:
## Checking the time differences between to every two rows
df['CreatedTime'].diff(-1)>pd.to_timedelta('2s')

0         False
1         False
2         False
3         False
4         False
          ...
517834    False
517835    False
517836    False
517837    False
517838    False
Name: CreatedTime, Length: 517839, dtype: bool

In [8]:
## Pandas way to Checking the time differences between to every two rows
df['CreatedTime'].diff(-1)

0        0 days 00:00:01.013000
1               0 days 00:00:01
2               0 days 00:00:01
3        0 days 00:00:01.017000
4        0 days 00:00:01.110000
                  ...
517834   0 days 00:00:01.017000
517835          0 days 00:00:01
517836   0 days 00:00:01.013000
517837          0 days 00:00:01
517838                      NaT
Name: CreatedTime, Length: 517839, dtype: timedelta64[ns]

In [9]:
## getting the all rows with missing entries
df_2=df.loc[df['CreatedTime'].diff(-1)>pd.to_timedelta('2s')]

In [11]:
df_2

,index,CreatedTime,SystemTime,SiteId,DBTime,DeviceId,Hot_air_F_H_oil_fr__PV,Hot_air_F__OFR__PV,OFR_Air_v_line__PV,s_up_B_oil_fr__PV,...,s_up_B_OF_C__SP,Hot_airGEN_air_T__PV,Hot_air_F_for_s_up_ATC__PV,Hot_air_F_for_s_up_ATC,Hot_air_F_for_s_up_ATC__SP,Hot_GEN_HH_CFM_TM__PV,s_up_B_OF_C__PV,Hot_airGEN_oil_fr_PV,OFR_integration__PV,s_up_B_OFR__PV
302400,302400,2022-05-12 17:59:59.367000+00:00,2022-05-12 18:00:12+00:00,1,2022-05-12 18:00:13.211084+00:00,1,0,0,0,0,...,0,32.171680,32.171680,0,0,10,0,43713.847656,85032.382812,35955.125
335612,335612,2022-05-12 08:38:22.397000+00:00,2022-05-12 08:38:35+00:00,1,2022-05-12 08:38:41.620423+00:00,1,0,0,0,0,...,0,32.269993,32.269993,0,0,10,0,43713.847656,85032.382812,35955.125
335682,335682,2022-05-12 08:36:44.413000+00:00,2022-05-12 08:36:57+00:00,1,2022-05-12 08:38:35.812159+00:00,1,0,0,0,0,...,0,32.171680,32.171680,0,0,10,0,43713.847656,85032.382812,35955.125

In [12]:
df_2['CreatedTime'].diff(-1)

302400   0 days 09:21:36.970000
335612   0 days 00:01:37.984000
335682                      NaT
Name: CreatedTime, dtype: timedelta64[ns]